Back-End/HELP.md
Back-End/target/
Back-End/!.mvn/wrapper/maven-wrapper.jar
Back-End/!**/src/main/**/target/
Back-End/!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### ENV Files ###
Back-End/src/main/resources/.env
Back-End/src/main/resources/.env.example